name: "CI"

on:
  pull_request:
  push:

jobs:
  tests:
    runs-on: 'macos-latest'

    continue-on-error: true

    strategy:
      fail-fast: true
      matrix:
        php-version:
          - '5.6'
          - '7.0'
          - '7.1'
          - '7.2'
          - '7.3'
          - '7.4'
          - '8.0'
          - '8.1'
          - '8.2'
          - '8.3'
          - '8.4'
          - '8.5'

    steps:
      - name: "Checkout code"
        uses: actions/checkout@v2.3.3

      - run: |
          set -xe

          brew update
          brew upgrade --greedy --force
          brew --version
          brew tap shivammathur/php
          brew install shivammathur/php/php@${{ matrix.php-version }}
          ./phpswitch.sh ${{ matrix.php-version }} -s
          if [ "$?" != 0 ]; then
            echo "Expected PHP version ${{ matrix.php-version}} failed to switch."
            exit 0
          fi
          switched=$(php -v | grep -e '^PHP' | cut -d' ' -f2 | cut -d. -f1,2)
          if [ "${{ matrix.php-version }}" != "$switched" ]; then
            echo "Expected PHP version ${{ matrix.php-version }} successfully switched."
            exit 1
          fi
